.categories {
  padding: 2rem 1rem;
  background-color: var(--white);
}

.row {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  padding-top: 1rem;
}

.categoryCard {
  flex: 0 0 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.image {
  width: 100%;
  height: 80px;
  background-color: var(--french-gray);
  border-radius: 0.5rem;
}
